<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title"></h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam amet ipsum explicabo ipsa vel praesentium aperiam. 
                Sapiente repudiandae veritatis voluptatem a dolorem saepe, molestiae tempora maxime earum vel deserunt pariatur?
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> ecommerce@ecommerce.com.br</li>
                <li><i class="fa-solid fa-phone"></i> Telefone</li>
                <li><i class="fa-brands fa-whatsapp"></i> WhatsApp</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>
